$gray: rgb(75, 75, 75);
$light-gray: rgba(238, 238, 238, 0.8);
$white: rgb(255, 255, 255);

$image-hover-color: rgba(75, 79, 84, 0.7);
$span-color: rgb(102, 102, 102);
$dark-blue: #499fb6;
$light-bule: #4c83c7;
$h1-color: rgb(45, 50, 54);
$header-color: rgb(153, 153, 153);
