@import "../scss/varaiable";

.close-btn-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid $light-gray;
  background-color: $white;
  z-index: 100;
  button {
    svg {
      display: inline-block;
      vertical-align: middle;
      fill: $gray;
    }
  }
}
.content-container {
  padding: 40px 32px;
  max-width: 1280px;
  .gallary-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    font-size: 14px;
    padding: 0 12px;
    position: relative;
    h3 {
      position: absolute;
      right: 47%;
    }
  }
  .image-total {
    color: $span-color;
  }
  .imagecard-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 23%);
    grid-auto-rows: min-content;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
}
