@import "../scss/varaiable";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid $light-gray;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  button {
    align-items: center;
    height: 27px;
    border-radius: 4px;
    border: none;
    padding: 0 8px;
    color: $gray;
    &:hover {
      background-color: rgba(221, 221, 221, 0.8);
    }
    svg {
      display: inline-block;
      vertical-align: middle;
      fill: $gray;
    }
  }
  .down-btn {
    margin-right: 10px;
  }
}
