@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "../scss/varaiable";
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans KR", sans-serif;
  font-stretch: normal;
  font-style: normal;
}
li {
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  align-items: center;
  height: 27px;
  border-radius: 4px;
  border: none;
  padding: 0 8px;
  color: $gray;
  &:hover {
    background-color: rgba(221, 221, 221, 0.8);
  }
}
